<div id="authed-main-header">
  <p>開発状況を投稿しよう</p>    
</div>

<form action="/post-content" method="post" id="post-form">
  <textarea type="text" name="content" placeholder="いまなにしてる？"></textarea>
  <button type="submit">ポストする</button>
</form>

<form action="/posts" method="post" enctype="multipart/form-data">
  <label for="content">コメント:</label><br>
  <textarea name="content" id="content" rows="4" cols="50" required></textarea><br><br>

  <label for="image">画像を選択:</label><br>
  <input type="file" name="image" id="image" accept="image/*"><br><br>

  <button type="submit">投稿する</button>
</form>

<% @posts.each do |post| %>
  <a href="/<%= post.id %>"  class="post">
    <div class="post-info">
      <p class="post-user-name"><%= post.user.name %></p>
      <p class="post-user-id">@<%=  %></p>
      <p class="post-created-at"><%= post.created_at %></p>
    </div>
    <p><%= post. %></p>
    <div class="post-comment-info">
      <img src="/img/comment.svg" alt="comment" width="21px" height="21px">
      <p><%= %></p>
    </div>
  </a>
<% end %>